<p id="notice"><%= notice %></p>

<h1>Bacheche</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %></td>
        <td><%= link_to 'Mostra', user_board_path(current_user, board) %></td>
        <td><%= link_to 'Modifica', edit_user_board_path(current_user, board) %></td>
        <td><%= link_to 'Cancella', user_board_path(current_user, board), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Bacheca', new_user_board_path %>
