<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :picture_url %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :picture_name %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
